In [1]:
import pandas as pd

In [2]:
path_in = '../data/'
path_out = '../data/PBI/'

In [3]:
def set_gender(x):
    if x == 'Mujer-Hombre':
        return 'distinto'
    elif x == 'Mujeres':
        return 'mismo'
    elif x == 'Hombres':
        return 'mismo'
    elif x == 'Entre personas del mismo sexo':
        return 'mismo'
    elif x == 'Entre personas de distinto sexo':
        return 'distinto'

In [4]:
def set_tip_separation(x):
    if x == 'Divorcio de mutuo acuerdo':
        return 'acuerdo'
    elif x == 'Divorcio contencioso':
        return 'contencioso'
    elif x == 'Separación de mutuo acuerdo':
        return 'acuerdo'
    elif x == 'Separación contenciosa':
        return 'contencioso'

In [5]:
df_pop = pd.read_csv(path_in + 'population.csv')
df_pop

        Sexo                                   Estado civil  Periodo    Total
0    Hombres                              Solteros/Solteras     2021  7585500
1    Hombres                              Solteros/Solteras     2020  7462400
2    Hombres                              Solteros/Solteras     2019  7329900
3    Hombres                              Solteros/Solteras     2018  7083300
4    Hombres                              Solteros/Solteras     2017  6988700
..       ...                                            ...      ...      ...
131  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2009  1040500
132  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2008  1005500
133  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2007   982100
134  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2006   868600
135  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2005   813000

[136 rows x 4 columns]

In [6]:
df_pop.to_csv(path_out + 'population.csv', index=False) # dataset population PBI

In [7]:
df_mar = pd.read_csv(path_in + 'marriages.csv')
df_mar

        Provincias  Periodo  Total          Sexo
0      02 Albacete     2020    552  Mujer-Hombre
1      02 Albacete     2019   1203  Mujer-Hombre
2      02 Albacete     2018   1267  Mujer-Hombre
3      02 Albacete     2017   1367  Mujer-Hombre
4      02 Albacete     2016   1417  Mujer-Hombre
...            ...      ...    ...           ...
2453  No residente     2009     24       Hombres
2454  No residente     2008     25       Hombres
2455  No residente     2007     34       Hombres
2456  No residente     2006     36       Hombres
2457  No residente     2005     13       Hombres

[2458 rows x 4 columns]

In [8]:
df_mar['Tipo sexo'] = df_mar.apply(lambda x: set_gender(x['Sexo']), axis=1)
df_mar

        Provincias  Periodo  Total          Sexo Tipo sexo
0      02 Albacete     2020    552  Mujer-Hombre  distinto
1      02 Albacete     2019   1203  Mujer-Hombre  distinto
2      02 Albacete     2018   1267  Mujer-Hombre  distinto
3      02 Albacete     2017   1367  Mujer-Hombre  distinto
4      02 Albacete     2016   1417  Mujer-Hombre  distinto
...            ...      ...    ...           ...       ...
2453  No residente     2009     24       Hombres     mismo
2454  No residente     2008     25       Hombres     mismo
2455  No residente     2007     34       Hombres     mismo
2456  No residente     2006     36       Hombres     mismo
2457  No residente     2005     13       Hombres     mismo

[2458 rows x 5 columns]

In [9]:
df_mar.to_csv(path_out + 'marriages.csv', index=False) # dataset marriages PBI

In [10]:
df_div = pd.read_csv(path_in + 'divorces.csv')
df_div

    Periodo          Sexo           Tipo de divorcio  Total
0      2021  Mujer-Hombre  Divorcio de mutuo acuerdo  66969
1      2020  Mujer-Hombre  Divorcio de mutuo acuerdo  61766
2      2019  Mujer-Hombre  Divorcio de mutuo acuerdo  71370
3      2018  Mujer-Hombre  Divorcio de mutuo acuerdo  73029
4      2017  Mujer-Hombre  Divorcio de mutuo acuerdo  74758
5      2016  Mujer-Hombre  Divorcio de mutuo acuerdo  72959
6      2015  Mujer-Hombre  Divorcio de mutuo acuerdo  72529
7      2014  Mujer-Hombre  Divorcio de mutuo acuerdo  75908
8      2013  Mujer-Hombre  Divorcio de mutuo acuerdo  71499
9      2021  Mujer-Hombre       Divorcio contencioso  18209
10     2020  Mujer-Hombre       Divorcio contencioso  14338
11     2019  Mujer-Hombre       Divorcio contencioso  19176
12     2018  Mujer-Hombre       Divorcio contencioso  21083
13     2017  Mujer-Hombre       Divorcio contencioso  22164
14     2016  Mujer-Hombre       Divorcio contencioso  22542
15     2015  Mujer-Hombre       Divorcio contencioso  23156
16     2014  Mujer-Hombre       Divorcio contencioso  23974
17     2013  Mujer-Hombre       Divorcio contencioso  23386
18     2021       Hombres  Divorcio de mutuo acuerdo    800
19     2020       Hombres  Divorcio de mutuo acuerdo    469
20     2019       Hombres  Divorcio de mutuo acuerdo    455
21     2018       Hombres  Divorcio de mutuo acuerdo    502
22     2017       Hombres  Divorcio de mutuo acuerdo    420
23     2016       Hombres  Divorcio de mutuo acuerdo    749
24     2015       Hombres  Divorcio de mutuo acuerdo    425
25     2014       Hombres  Divorcio de mutuo acuerdo    410
26     2013       Hombres  Divorcio de mutuo acuerdo    274
27     2021       Mujeres  Divorcio de mutuo acuerdo    680
28     2020       Mujeres  Divorcio de mutuo acuerdo    502
29     2019       Mujeres  Divorcio de mutuo acuerdo    473
30     2018       Mujeres  Divorcio de mutuo acuerdo    449
31     2017       Mujeres  Divorcio de mutuo acuerdo    438
32     2016       Mujeres  Divorcio de mutuo acuerdo    454
33     2015       Mujeres  Divorcio de mutuo acuerdo    324
34     2014       Mujeres  Divorcio de mutuo acuerdo    328
35     2013       Mujeres  Divorcio de mutuo acuerdo    187
36     2021       Hombres       Divorcio contencioso    100
37     2020       Hombres       Divorcio contencioso     75
38     2019       Hombres       Divorcio contencioso    104
39     2018       Hombres       Divorcio contencioso     94
40     2017       Hombres       Divorcio contencioso    106
41     2016       Hombres       Divorcio contencioso     71
42     2015       Hombres       Divorcio contencioso     64
43     2014       Hombres       Divorcio contencioso     73
44     2013       Hombres       Divorcio contencioso     47
45     2021       Mujeres       Divorcio contencioso     92
46     2020       Mujeres       Divorcio contencioso     48
47     2019       Mujeres       Divorcio contencioso     67
48     2018       Mujeres       Divorcio contencioso     97
49     2017       Mujeres       Divorcio contencioso     74
50     2016       Mujeres       Divorcio contencioso     49
51     2015       Mujeres       Divorcio contencioso     64
52     2014       Mujeres       Divorcio contencioso     53
53     2013       Mujeres       Divorcio contencioso     34

In [11]:
df_div['Tipo sexo'] = df_div.apply(lambda x: set_gender(x['Sexo']), axis=1)
df_div['Tipo separacion'] = df_div.apply(lambda x: set_tip_separation(x['Tipo de divorcio']), axis=1)
df_div

,Periodo,Sexo,Tipo de divorcio,Total,Tipo sexo,Tipo separacion
0,2021,Mujer-Hombre,Divorcio de mutuo acuerdo,66969,distinto,acuerdo
1,2020,Mujer-Hombre,Divorcio de mutuo acuerdo,61766,distinto,acuerdo
2,2019,Mujer-Hombre,Divorcio de mutuo acuerdo,71370,distinto,acuerdo
3,2018,Mujer-Hombre,Divorcio de mutuo acuerdo,73029,distinto,acuerdo
4,2017,Mujer-Hombre,Divorcio de mutuo acuerdo,74758,distinto,acuerdo
5,2016,Mujer-Hombre,Divorcio de mutuo acuerdo,72959,distinto,acuerdo
6,2015,Mujer-Hombre,Divorcio de mutuo acuerdo,72529,distinto,acuerdo
7,2014,Mujer-Hombre,Divorcio de mutuo acuerdo,75908,distinto,acuerdo
8,2013,Mujer-Hombre,Divorcio de mutuo acuerdo,71499,distinto,acuerdo
9,2021,Mujer-Hombre,Divorcio contencioso,18209,distinto,contencioso
10,2020,Mujer-Hombre,Divorcio contencioso,14338,distinto,contencioso
11,2019,Mujer-Hombre,Divorcio contencioso,19176,distinto,contencioso
12,2018,Mujer-Hombre,Divorcio contencioso,21083,distinto,contencioso
13,2017,Mujer-Hombre,Divorcio contencioso,22164,distinto,contencioso
14,2016,Mujer-Hombre,Divorcio contencioso,22542,distinto,contencioso
15,2015,Mujer-Hombre,Divorcio contencioso,23156,distinto,contencioso
16,2014,Mujer-Hombre,Divorcio contencioso,23974,distinto,contencioso
17,2013,Mujer-Hombre,Divorcio contencioso,23386,distinto,contencioso
18,2021,Hombres,Divorcio de mutuo acuerdo,800,mismo,acuerdo
19,2020,Hombres,Divorcio de mutuo acuerdo,469,mismo,acuerdo
20,2019,Hombres,Divorcio de mutuo acuerdo,455,mismo,acuerdo
21,2018,Hombres,Divorcio de mutuo acuerdo,502,mismo,acuerdo
22,2017,Hombres,Divorcio de mutuo acuerdo,420,mismo,acuerdo
23,2016,Hombres,Divorcio de mutuo acuerdo,749,mismo,acuerdo
24,2015,Hombres,Divorcio de mutuo acuerdo,425,mismo,acuerdo
25,2014,Hombres,Divorcio de mutuo acuerdo,410,mismo,acuerdo
26,2013,Hombres,Divorcio de mutuo acuerdo,274,mismo,acuerdo
27,2021,Mujeres,Divorcio de mutuo acuerdo,680,mismo,acuerdo
28,2020,Mujeres,Divorcio de mutuo acuerdo,502,mismo,acuerdo
29,2019,Mujeres,Divorcio de mutuo acuerdo,473,mismo,acuerdo
30,2018,Mujeres,Divorcio de mutuo acuerdo,449,mismo,acuerdo
31,2017,Mujeres,Divorcio de mutuo acuerdo,438,mismo,acuerdo
32,2016,Mujeres,Divorcio de mutuo acuerdo,454,mismo,acuerdo
33,2015,Mujeres,Divorcio de mutuo acuerdo,324,mismo,acuerdo
34,2014,Mujeres,Divorcio de mutuo acuerdo,328,mismo,acuerdo
35,2013,Mujeres,Divorcio de mutuo acuerdo,187,mismo,acuerdo
36,2021,Hombres,Divorcio contencioso,100,mismo,contencioso
37,2020,Hombres,Divorcio contencioso,75,mismo,contencioso
38,2019,Hombres,Divorcio contencioso,104,mismo,contencioso
39,2018,Hombres,Divorcio contencioso,94,mismo,contencioso
40,2017,Hombres,Divorcio contencioso,106,mismo,contencioso
41,2016,Hombres,Divorcio contencioso,71,mismo,contencioso
42,2015,Hombres,Divorcio contencioso,64,mismo,contencioso
43,2014,Hombres,Divorcio contencioso,73,mismo,contencioso
44,2013,Hombres,Divorcio contencioso,47,mismo,contencioso
45,2021,Mujeres,Divorcio contencioso,92,mismo,contencioso
46,2020,Mujeres,Divorcio contencioso,48,mismo,contencioso
47,2019,Mujeres,Divorcio contencioso,67,mismo,contencioso
48,2018,Mujeres,Divorcio contencioso,97,mismo,contencioso
49,2017,Mujeres,Divorcio contencioso,74,mismo,contencioso
50,2016,Mujeres,Divorcio contencioso,49,mismo,contencioso
51,2015,Mujeres,Divorcio contencioso,64,mismo,contencioso
52,2014,Mujeres,Divorcio contencioso,53,mismo,contencioso
53,2013,Mujeres,Divorcio contencioso,34,mismo,contencioso

In [12]:
df_sep = pd.read_csv(path_in + 'separations.csv')
df_sep

,Tipo de separación,Tipo de matrimonio,Periodo,Total
0,Separación de mutuo acuerdo,Entre personas del mismo sexo,2021,63
1,Separación de mutuo acuerdo,Entre personas del mismo sexo,2020,2
2,Separación de mutuo acuerdo,Entre personas del mismo sexo,2019,19
3,Separación de mutuo acuerdo,Entre personas del mismo sexo,2018,8
4,Separación de mutuo acuerdo,Entre personas del mismo sexo,2017,15
5,Separación de mutuo acuerdo,Entre personas del mismo sexo,2016,34
6,Separación de mutuo acuerdo,Entre personas del mismo sexo,2015,8
7,Separación de mutuo acuerdo,Entre personas del mismo sexo,2014,8
8,Separación de mutuo acuerdo,Entre personas del mismo sexo,2013,4
9,Separación de mutuo acuerdo,Entre personas de distinto sexo,2021,3166
10,Separación de mutuo acuerdo,Entre personas de distinto sexo,2020,2467
11,Separación de mutuo acuerdo,Entre personas de distinto sexo,2019,3101
12,Separación de mutuo acuerdo,Entre personas de distinto sexo,2018,3480
13,Separación de mutuo acuerdo,Entre personas de distinto sexo,2017,3573
14,Separación de mutuo acuerdo,Entre personas de distinto sexo,2016,3672
15,Separación de mutuo acuerdo,Entre personas de distinto sexo,2015,4005
16,Separación de mutuo acuerdo,Entre personas de distinto sexo,2014,4299
17,Separación de mutuo acuerdo,Entre personas de distinto sexo,2013,4106
18,Separación contenciosa,Entre personas del mismo sexo,2021,4
19,Separación contenciosa,Entre personas del mismo sexo,2020,2
20,Separación contenciosa,Entre personas del mismo sexo,2019,0
21,Separación contenciosa,Entre personas del mismo sexo,2018,3
22,Separación contenciosa,Entre personas del mismo sexo,2017,10
23,Separación contenciosa,Entre personas del mismo sexo,2016,3
24,Separación contenciosa,Entre personas del mismo sexo,2015,2
25,Separación contenciosa,Entre personas del mismo sexo,2014,1
26,Separación contenciosa,Entre personas del mismo sexo,2013,0
27,Separación contenciosa,Entre personas de distinto sexo,2021,440
28,Separación contenciosa,Entre personas de distinto sexo,2020,304
29,Separación contenciosa,Entre personas de distinto sexo,2019,479
30,Separación contenciosa,Entre personas de distinto sexo,2018,607
31,Separación contenciosa,Entre personas de distinto sexo,2017,683
32,Separación contenciosa,Entre personas de distinto sexo,2016,645
33,Separación contenciosa,Entre personas de distinto sexo,2015,637
34,Separación contenciosa,Entre personas de distinto sexo,2014,726
35,Separación contenciosa,Entre personas de distinto sexo,2013,790

In [13]:
df_sep['Tipo sexo'] = df_sep.apply(lambda x: set_gender(x['Tipo de matrimonio']), axis=1)
df_sep['Tipo separacion'] = df_sep.apply(lambda x: set_tip_separation(x['Tipo de separación']), axis=1)
df_sep

,Tipo de separación,Tipo de matrimonio,Periodo,Total,Tipo sexo,Tipo separacion
0,Separación de mutuo acuerdo,Entre personas del mismo sexo,2021,63,mismo,acuerdo
1,Separación de mutuo acuerdo,Entre personas del mismo sexo,2020,2,mismo,acuerdo
2,Separación de mutuo acuerdo,Entre personas del mismo sexo,2019,19,mismo,acuerdo
3,Separación de mutuo acuerdo,Entre personas del mismo sexo,2018,8,mismo,acuerdo
4,Separación de mutuo acuerdo,Entre personas del mismo sexo,2017,15,mismo,acuerdo
5,Separación de mutuo acuerdo,Entre personas del mismo sexo,2016,34,mismo,acuerdo
6,Separación de mutuo acuerdo,Entre personas del mismo sexo,2015,8,mismo,acuerdo
7,Separación de mutuo acuerdo,Entre personas del mismo sexo,2014,8,mismo,acuerdo
8,Separación de mutuo acuerdo,Entre personas del mismo sexo,2013,4,mismo,acuerdo
9,Separación de mutuo acuerdo,Entre personas de distinto sexo,2021,3166,distinto,acuerdo
10,Separación de mutuo acuerdo,Entre personas de distinto sexo,2020,2467,distinto,acuerdo
11,Separación de mutuo acuerdo,Entre personas de distinto sexo,2019,3101,distinto,acuerdo
12,Separación de mutuo acuerdo,Entre personas de distinto sexo,2018,3480,distinto,acuerdo
13,Separación de mutuo acuerdo,Entre personas de distinto sexo,2017,3573,distinto,acuerdo
14,Separación de mutuo acuerdo,Entre personas de distinto sexo,2016,3672,distinto,acuerdo
15,Separación de mutuo acuerdo,Entre personas de distinto sexo,2015,4005,distinto,acuerdo
16,Separación de mutuo acuerdo,Entre personas de distinto sexo,2014,4299,distinto,acuerdo
17,Separación de mutuo acuerdo,Entre personas de distinto sexo,2013,4106,distinto,acuerdo
18,Separación contenciosa,Entre personas del mismo sexo,2021,4,mismo,contencioso
19,Separación contenciosa,Entre personas del mismo sexo,2020,2,mismo,contencioso
20,Separación contenciosa,Entre personas del mismo sexo,2019,0,mismo,contencioso
21,Separación contenciosa,Entre personas del mismo sexo,2018,3,mismo,contencioso
22,Separación contenciosa,Entre personas del mismo sexo,2017,10,mismo,contencioso
23,Separación contenciosa,Entre personas del mismo sexo,2016,3,mismo,contencioso
24,Separación contenciosa,Entre personas del mismo sexo,2015,2,mismo,contencioso
25,Separación contenciosa,Entre personas del mismo sexo,2014,1,mismo,contencioso
26,Separación contenciosa,Entre personas del mismo sexo,2013,0,mismo,contencioso
27,Separación contenciosa,Entre personas de distinto sexo,2021,440,distinto,contencioso
28,Separación contenciosa,Entre personas de distinto sexo,2020,304,distinto,contencioso
29,Separación contenciosa,Entre personas de distinto sexo,2019,479,distinto,contencioso
30,Separación contenciosa,Entre personas de distinto sexo,2018,607,distinto,contencioso
31,Separación contenciosa,Entre personas de distinto sexo,2017,683,distinto,contencioso
32,Separación contenciosa,Entre personas de distinto sexo,2016,645,distinto,contencioso
33,Separación contenciosa,Entre personas de distinto sexo,2015,637,distinto,contencioso
34,Separación contenciosa,Entre personas de distinto sexo,2014,726,distinto,contencioso
35,Separación contenciosa,Entre personas de distinto sexo,2013,790,distinto,contencioso

In [14]:
df_nul = pd.read_csv(path_in + 'nulties.csv')
df_nul

                 Tipo de matrimonio  Periodo  Total
0     Entre personas del mismo sexo     2021      0
1     Entre personas del mismo sexo     2020      1
2     Entre personas del mismo sexo     2019      4
3     Entre personas del mismo sexo     2018      2
4     Entre personas del mismo sexo     2017      0
5     Entre personas del mismo sexo     2016      2
6     Entre personas del mismo sexo     2015      6
7     Entre personas del mismo sexo     2014      0
8     Entre personas del mismo sexo     2013      3
9   Entre personas de distinto sexo     2021     57
10  Entre personas de distinto sexo     2020     39
11  Entre personas de distinto sexo     2019     71
12  Entre personas de distinto sexo     2018     90
13  Entre personas de distinto sexo     2017    100
14  Entre personas de distinto sexo     2016    115
15  Entre personas de distinto sexo     2015    138
16  Entre personas de distinto sexo     2014    113
17  Entre personas de distinto sexo     2013    107

In [15]:
df_nul['Tipo sexo'] = df_nul.apply(lambda x: set_gender(x['Tipo de matrimonio']), axis=1)
df_nul

                 Tipo de matrimonio  Periodo  Total Tipo sexo
0     Entre personas del mismo sexo     2021      0     mismo
1     Entre personas del mismo sexo     2020      1     mismo
2     Entre personas del mismo sexo     2019      4     mismo
3     Entre personas del mismo sexo     2018      2     mismo
4     Entre personas del mismo sexo     2017      0     mismo
5     Entre personas del mismo sexo     2016      2     mismo
6     Entre personas del mismo sexo     2015      6     mismo
7     Entre personas del mismo sexo     2014      0     mismo
8     Entre personas del mismo sexo     2013      3     mismo
9   Entre personas de distinto sexo     2021     57  distinto
10  Entre personas de distinto sexo     2020     39  distinto
11  Entre personas de distinto sexo     2019     71  distinto
12  Entre personas de distinto sexo     2018     90  distinto
13  Entre personas de distinto sexo     2017    100  distinto
14  Entre personas de distinto sexo     2016    115  distinto
15  Entre personas de distinto sexo     2015    138  distinto
16  Entre personas de distinto sexo     2014    113  distinto
17  Entre personas de distinto sexo     2013    107  distinto

In [16]:
df_div.to_csv(path_out + 'divorces.csv', index=False) # dataset divorces PBI
df_sep.to_csv(path_out + 'separations.csv', index=False) # dataset separations PBI
df_nul.to_csv(path_out + 'nulties.csv', index=False) # dataset nulties PBI

In [27]:
df_mar_group = df_mar.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total matrimonios'})
df_mar_group

    Periodo Tipo sexo  Total matrimonios
0      2005  distinto             208146
1      2005     mismo               1269
2      2006  distinto             203453
3      2006     mismo               4313
4      2007  distinto             201579
5      2007     mismo               3193
6      2008  distinto             194022
7      2008     mismo               3194
8      2009  distinto             174062
9      2009     mismo               3082
10     2010  distinto             167247
11     2010     mismo               3193
12     2011  distinto             159798
13     2011     mismo               3540
14     2012  distinto             165101
15     2012     mismo               3455
16     2013  distinto             153375
17     2013     mismo               3071
18     2014  distinto             159279
19     2014     mismo               3275
20     2015  distinto             165172
21     2015     mismo               3738
22     2016  distinto             171023
23     2016     mismo               4320
24     2017  distinto             168989
25     2017     mismo               4637
26     2018  distinto             162743
27     2018     mismo               4870
28     2019  distinto             161389
29     2019     mismo               5141
30     2020  distinto              87481
31     2020     mismo               3189

In [28]:
df_div_group = df_div.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total divorcios'})
df_div_group

    Periodo Tipo sexo  Total divorcios
0      2013  distinto            94885
1      2013     mismo              542
2      2014  distinto            99882
3      2014     mismo              864
4      2015  distinto            95685
5      2015     mismo              877
6      2016  distinto            95501
7      2016     mismo             1323
8      2017  distinto            96922
9      2017     mismo             1038
10     2018  distinto            94112
11     2018     mismo             1142
12     2019  distinto            90546
13     2019     mismo             1099
14     2020  distinto            76104
15     2020     mismo             1094
16     2021  distinto            85178
17     2021     mismo             1672

In [29]:
df_sep_group = df_sep.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total separaciones'})
df_sep_group

    Periodo Tipo sexo  Total separaciones
0      2013  distinto                4896
1      2013     mismo                   4
2      2014  distinto                5025
3      2014     mismo                   9
4      2015  distinto                4642
5      2015     mismo                  10
6      2016  distinto                4317
7      2016     mismo                  37
8      2017  distinto                4256
9      2017     mismo                  25
10     2018  distinto                4087
11     2018     mismo                  11
12     2019  distinto                3580
13     2019     mismo                  19
14     2020  distinto                2771
15     2020     mismo                   4
16     2021  distinto                3606
17     2021     mismo                  67

In [30]:
df_nul_group = df_nul.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total nulidades'})
df_nul_group

    Periodo Tipo sexo  Total nulidades
0      2013  distinto              107
1      2013     mismo                3
2      2014  distinto              113
3      2014     mismo                0
4      2015  distinto              138
5      2015     mismo                6
6      2016  distinto              115
7      2016     mismo                2
8      2017  distinto              100
9      2017     mismo                0
10     2018  distinto               90
11     2018     mismo                2
12     2019  distinto               71
13     2019     mismo                4
14     2020  distinto               39
15     2020     mismo                1
16     2021  distinto               57
17     2021     mismo                0

In [33]:
df_relations = df_mar_group.merge(df_div_group) \
                           .merge(df_sep_group) \
                           .merge(df_nul_group)
df_relations

,Periodo,Tipo sexo,Total matrimonios,Total divorcios,Total separaciones,Total nulidades
0,2013,distinto,153375,94885,4896,107
1,2013,mismo,3071,542,4,3
2,2014,distinto,159279,99882,5025,113
3,2014,mismo,3275,864,9,0
4,2015,distinto,165172,95685,4642,138
5,2015,mismo,3738,877,10,6
6,2016,distinto,171023,95501,4317,115
7,2016,mismo,4320,1323,37,2
8,2017,distinto,168989,96922,4256,100
9,2017,mismo,4637,1038,25,0
10,2018,distinto,162743,94112,4087,90
11,2018,mismo,4870,1142,11,2
12,2019,distinto,161389,90546,3580,71
13,2019,mismo,5141,1099,19,4
14,2020,distinto,87481,76104,2771,39
15,2020,mismo,3189,1094,4,1