In [1]:
import pandas as pd

In [2]:
path_in = '../data/'
path_out = '../data/normalized/'

In [3]:
df_tip_sta = pd.DataFrame([[0, 'Solteros/Solteras', 'No casado'],
                           [1, 'Casados/Casadas', 'Casado'],
                           [2, 'Viudos/Viudas', 'No casado'],
                           [3, 'Separados/Separadas o Divorciados/Divorciadas', 'No casado']], columns=['id_sta', 
                                                                                                        'sta', 
                                                                                                        'tip_sta'])
df_tip_sta

   id_sta                                            sta    tip_sta
0       0                              Solteros/Solteras  No casado
1       1                                Casados/Casadas     Casado
2       2                                  Viudos/Viudas  No casado
3       3  Separados/Separadas o Divorciados/Divorciadas  No casado

In [4]:
df_tip_gen = pd.DataFrame([[0, 'Mujer-Hombre', 'Distinto'],
                           [1, 'Mujeres', 'Mismo'],
                           [2, 'Hombres', 'Mismo'],
                           [3, 'Personas del mismo sexo', 'Mismo']], columns=['id_gen', 
                                                                              'gen', 
                                                                              'tip_gen'])
df_tip_gen

   id_gen                      gen   tip_gen
0       0             Mujer-Hombre  Distinto
1       1                  Mujeres     Mismo
2       2                  Hombres     Mismo
3       3  Personas del mismo sexo     Mismo

In [5]:
df_tip_sep = pd.DataFrame([[0, 'Divorcio de mutuo acuerdo', 'Mutuo acuerdo'],
                           [1, 'Divorcio contencioso', 'Contencioso'],
                           [2, 'Separación de mutuo acuerdo', 'Mutuo acuerdo'],
                           [3, 'Separación contenciosa', 'Contencioso']], columns=['id_sep', 
                                                                                   'sep', 
                                                                                   'tip_sep'])
df_tip_sep

   id_sep                          sep        tip_sep
0       0    Divorcio de mutuo acuerdo  Mutuo acuerdo
1       1         Divorcio contencioso    Contencioso
2       2  Separación de mutuo acuerdo  Mutuo acuerdo
3       3       Separación contenciosa    Contencioso

In [6]:
df_tip_sta.to_csv(path_out + 'tip_sta.csv', index=False) # dataset df_tip_sep normalized
df_tip_gen.to_csv(path_out + 'tip_gen.csv', index=False) # dataset df_tip_sex normalized
df_tip_sep.to_csv(path_out + 'tip_sep.csv', index=False) # dataset df_tip_sep normalized

In [7]:
def set_status(x):
    if x == 'Solteros/Solteras':
        return 0
    elif x == 'Casados/Casadas':
        return 1
    elif x == 'Viudos/Viudas':
        return 2
    elif x == 'Separados/Separadas o Divorciados/Divorciadas':
        return 3

In [8]:
def set_gender(x):
    if x == 'Mujer-Hombre':
        return 0
    elif x == 'Mujeres':
        return 1
    elif x == 'Hombres':
        return 2
    elif x == 'Entre personas del mismo sexo':
        return 3
    elif x == 'Entre personas de distinto sexo':
        return 0

In [9]:
def set_tip_separation(x):
    if x == 'Divorcio de mutuo acuerdo':
        return 0
    elif x == 'Divorcio contencioso':
        return 1
    elif x == 'Separación de mutuo acuerdo':
        return 2
    elif x == 'Separación contenciosa':
        return 3

In [10]:
df_pop = pd.read_csv(path_in + 'population.csv')
df_pop

        Sexo                                   Estado civil  Periodo    Total
0    Hombres                              Solteros/Solteras     2021  7585500
1    Hombres                              Solteros/Solteras     2020  7462400
2    Hombres                              Solteros/Solteras     2019  7329900
3    Hombres                              Solteros/Solteras     2018  7083300
4    Hombres                              Solteros/Solteras     2017  6988700
..       ...                                            ...      ...      ...
131  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2009  1040500
132  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2008  1005500
133  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2007   982100
134  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2006   868600
135  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2005   813000

[136 rows x 4 columns]

In [11]:
df_pop['Estado civil'].unique()

array(['Solteros/Solteras', 'Casados/Casadas', 'Viudos/Viudas',
       'Separados/Separadas o Divorciados/Divorciadas'], dtype=object)

In [12]:
df_pop['id_sta'] = df_pop.apply(lambda x: set_status(x['Estado civil']), axis=1)
df_pop['id_gen'] = df_pop.apply(lambda x: set_gender(x['Sexo']), axis=1)
df_pop

,Sexo,Estado civil,Periodo,Total,id_sta,id_gen
0,Hombres,Solteros/Solteras,2021,7585500,0,2
1,Hombres,Solteros/Solteras,2020,7462400,0,2
2,Hombres,Solteros/Solteras,2019,7329900,0,2
3,Hombres,Solteros/Solteras,2018,7083300,0,2
4,Hombres,Solteros/Solteras,2017,6988700,0,2
...,...,...,...,...,...,...
131,Mujeres,Separados/Separadas o Divorciados/Divorciadas,2009,1040500,3,1
132,Mujeres,Separados/Separadas o Divorciados/Divorciadas,2008,1005500,3,1
133,Mujeres,Separados/Separadas o Divorciados/Divorciadas,2007,982100,3,1
134,Mujeres,Separados/Separadas o Divorciados/Divorciadas,2006,868600,3,1
135,Mujeres,Separados/Separadas o Divorciados/Divorciadas,2005,813000,3,1

In [13]:
df_pop['id_sta'].unique()

array([0, 1, 2, 3])

In [14]:
df_pop.loc[df_pop['Estado civil'] == 'Solteros/Solteras']['id_sta'].unique()

array([0])

In [15]:
df_pop.loc[df_pop['Estado civil'] == 'Casados/Casadas']['id_sta'].unique()

array([1])

In [16]:
df_pop.loc[df_pop['Estado civil'] == 'Viudos/Viudas']['id_sta'].unique()

array([2])

In [17]:
df_pop.loc[df_pop['Estado civil'] == 'Separados/Separadas o Divorciados/Divorciadas']['id_sta'].unique()

array([3])

In [18]:
df_pop['id_gen'].unique()

array([2, 1])

In [19]:
df_pop.loc[df_pop['Sexo'] == 'Mujeres']['id_gen'].unique()

array([1])

In [20]:
df_pop.loc[df_pop['Sexo'] == 'Hombres']['id_gen'].unique()

array([2])

In [21]:
df_pop.to_csv(path_out + 'population.csv', index=False) # dataset population normalized

In [22]:
df_mar = pd.read_csv(path_in + 'marriages.csv')
df_mar

        Provincias  Periodo  Total          Sexo
0      02 Albacete     2020    552  Mujer-Hombre
1      02 Albacete     2019   1203  Mujer-Hombre
2      02 Albacete     2018   1267  Mujer-Hombre
3      02 Albacete     2017   1367  Mujer-Hombre
4      02 Albacete     2016   1417  Mujer-Hombre
...            ...      ...    ...           ...
2453  No residente     2009     24       Hombres
2454  No residente     2008     25       Hombres
2455  No residente     2007     34       Hombres
2456  No residente     2006     36       Hombres
2457  No residente     2005     13       Hombres

[2458 rows x 4 columns]

In [23]:
df_mar['id_gen'] = df_mar.apply(lambda x: set_gender(x['Sexo']), axis=1)
df_mar

        Provincias  Periodo  Total          Sexo  id_gen
0      02 Albacete     2020    552  Mujer-Hombre       0
1      02 Albacete     2019   1203  Mujer-Hombre       0
2      02 Albacete     2018   1267  Mujer-Hombre       0
3      02 Albacete     2017   1367  Mujer-Hombre       0
4      02 Albacete     2016   1417  Mujer-Hombre       0
...            ...      ...    ...           ...     ...
2453  No residente     2009     24       Hombres       2
2454  No residente     2008     25       Hombres       2
2455  No residente     2007     34       Hombres       2
2456  No residente     2006     36       Hombres       2
2457  No residente     2005     13       Hombres       2

[2458 rows x 5 columns]

In [24]:
df_mar.to_csv(path_out + 'marriage.csv', index=False) # dataset marriage normalized

In [25]:
df_div = pd.read_csv(path_in + 'divorces.csv')
df_div

    Periodo          Sexo           Tipo de divorcio  Total
0      2021  Mujer-Hombre  Divorcio de mutuo acuerdo  66969
1      2020  Mujer-Hombre  Divorcio de mutuo acuerdo  61766
2      2019  Mujer-Hombre  Divorcio de mutuo acuerdo  71370
3      2018  Mujer-Hombre  Divorcio de mutuo acuerdo  73029
4      2017  Mujer-Hombre  Divorcio de mutuo acuerdo  74758
5      2016  Mujer-Hombre  Divorcio de mutuo acuerdo  72959
6      2015  Mujer-Hombre  Divorcio de mutuo acuerdo  72529
7      2014  Mujer-Hombre  Divorcio de mutuo acuerdo  75908
8      2013  Mujer-Hombre  Divorcio de mutuo acuerdo  71499
9      2021  Mujer-Hombre       Divorcio contencioso  18209
10     2020  Mujer-Hombre       Divorcio contencioso  14338
11     2019  Mujer-Hombre       Divorcio contencioso  19176
12     2018  Mujer-Hombre       Divorcio contencioso  21083
13     2017  Mujer-Hombre       Divorcio contencioso  22164
14     2016  Mujer-Hombre       Divorcio contencioso  22542
15     2015  Mujer-Hombre       Divorcio contencioso  23156
16     2014  Mujer-Hombre       Divorcio contencioso  23974
17     2013  Mujer-Hombre       Divorcio contencioso  23386
18     2021       Hombres  Divorcio de mutuo acuerdo    800
19     2020       Hombres  Divorcio de mutuo acuerdo    469
20     2019       Hombres  Divorcio de mutuo acuerdo    455
21     2018       Hombres  Divorcio de mutuo acuerdo    502
22     2017       Hombres  Divorcio de mutuo acuerdo    420
23     2016       Hombres  Divorcio de mutuo acuerdo    749
24     2015       Hombres  Divorcio de mutuo acuerdo    425
25     2014       Hombres  Divorcio de mutuo acuerdo    410
26     2013       Hombres  Divorcio de mutuo acuerdo    274
27     2021       Mujeres  Divorcio de mutuo acuerdo    680
28     2020       Mujeres  Divorcio de mutuo acuerdo    502
29     2019       Mujeres  Divorcio de mutuo acuerdo    473
30     2018       Mujeres  Divorcio de mutuo acuerdo    449
31     2017       Mujeres  Divorcio de mutuo acuerdo    438
32     2016       Mujeres  Divorcio de mutuo acuerdo    454
33     2015       Mujeres  Divorcio de mutuo acuerdo    324
34     2014       Mujeres  Divorcio de mutuo acuerdo    328
35     2013       Mujeres  Divorcio de mutuo acuerdo    187
36     2021       Hombres       Divorcio contencioso    100
37     2020       Hombres       Divorcio contencioso     75
38     2019       Hombres       Divorcio contencioso    104
39     2018       Hombres       Divorcio contencioso     94
40     2017       Hombres       Divorcio contencioso    106
41     2016       Hombres       Divorcio contencioso     71
42     2015       Hombres       Divorcio contencioso     64
43     2014       Hombres       Divorcio contencioso     73
44     2013       Hombres       Divorcio contencioso     47
45     2021       Mujeres       Divorcio contencioso     92
46     2020       Mujeres       Divorcio contencioso     48
47     2019       Mujeres       Divorcio contencioso     67
48     2018       Mujeres       Divorcio contencioso     97
49     2017       Mujeres       Divorcio contencioso     74
50     2016       Mujeres       Divorcio contencioso     49
51     2015       Mujeres       Divorcio contencioso     64
52     2014       Mujeres       Divorcio contencioso     53
53     2013       Mujeres       Divorcio contencioso     34

In [26]:
df_div['id_gen'] = df_div.apply(lambda x: set_gender(x['Sexo']), axis=1)
df_div['id_sep'] = df_div.apply(lambda x: set_tip_separation(x['Tipo de divorcio']), axis=1)
df_div

    Periodo          Sexo           Tipo de divorcio  Total  id_gen  id_sep
0      2021  Mujer-Hombre  Divorcio de mutuo acuerdo  66969       0       0
1      2020  Mujer-Hombre  Divorcio de mutuo acuerdo  61766       0       0
2      2019  Mujer-Hombre  Divorcio de mutuo acuerdo  71370       0       0
3      2018  Mujer-Hombre  Divorcio de mutuo acuerdo  73029       0       0
4      2017  Mujer-Hombre  Divorcio de mutuo acuerdo  74758       0       0
5      2016  Mujer-Hombre  Divorcio de mutuo acuerdo  72959       0       0
6      2015  Mujer-Hombre  Divorcio de mutuo acuerdo  72529       0       0
7      2014  Mujer-Hombre  Divorcio de mutuo acuerdo  75908       0       0
8      2013  Mujer-Hombre  Divorcio de mutuo acuerdo  71499       0       0
9      2021  Mujer-Hombre       Divorcio contencioso  18209       0       1
10     2020  Mujer-Hombre       Divorcio contencioso  14338       0       1
11     2019  Mujer-Hombre       Divorcio contencioso  19176       0       1
12     2018  Mujer-Hombre       Divorcio contencioso  21083       0       1
13     2017  Mujer-Hombre       Divorcio contencioso  22164       0       1
14     2016  Mujer-Hombre       Divorcio contencioso  22542       0       1
15     2015  Mujer-Hombre       Divorcio contencioso  23156       0       1
16     2014  Mujer-Hombre       Divorcio contencioso  23974       0       1
17     2013  Mujer-Hombre       Divorcio contencioso  23386       0       1
18     2021       Hombres  Divorcio de mutuo acuerdo    800       2       0
19     2020       Hombres  Divorcio de mutuo acuerdo    469       2       0
20     2019       Hombres  Divorcio de mutuo acuerdo    455       2       0
21     2018       Hombres  Divorcio de mutuo acuerdo    502       2       0
22     2017       Hombres  Divorcio de mutuo acuerdo    420       2       0
23     2016       Hombres  Divorcio de mutuo acuerdo    749       2       0
24     2015       Hombres  Divorcio de mutuo acuerdo    425       2       0
25     2014       Hombres  Divorcio de mutuo acuerdo    410       2       0
26     2013       Hombres  Divorcio de mutuo acuerdo    274       2       0
27     2021       Mujeres  Divorcio de mutuo acuerdo    680       1       0
28     2020       Mujeres  Divorcio de mutuo acuerdo    502       1       0
29     2019       Mujeres  Divorcio de mutuo acuerdo    473       1       0
30     2018       Mujeres  Divorcio de mutuo acuerdo    449       1       0
31     2017       Mujeres  Divorcio de mutuo acuerdo    438       1       0
32     2016       Mujeres  Divorcio de mutuo acuerdo    454       1       0
33     2015       Mujeres  Divorcio de mutuo acuerdo    324       1       0
34     2014       Mujeres  Divorcio de mutuo acuerdo    328       1       0
35     2013       Mujeres  Divorcio de mutuo acuerdo    187       1       0
36     2021       Hombres       Divorcio contencioso    100       2       1
37     2020       Hombres       Divorcio contencioso     75       2       1
38     2019       Hombres       Divorcio contencioso    104       2       1
39     2018       Hombres       Divorcio contencioso     94       2       1
40     2017       Hombres       Divorcio contencioso    106       2       1
41     2016       Hombres       Divorcio contencioso     71       2       1
42     2015       Hombres       Divorcio contencioso     64       2       1
43     2014       Hombres       Divorcio contencioso     73       2       1
44     2013       Hombres       Divorcio contencioso     47       2       1
45     2021       Mujeres       Divorcio contencioso     92       1       1
46     2020       Mujeres       Divorcio contencioso     48       1       1
47     2019       Mujeres       Divorcio contencioso     67       1       1
48     2018       Mujeres       Divorcio contencioso     97       1       1
49     2017       Mujeres       Divorcio contencioso     74       1       1
50     2016       Mujeres       Divorcio contencioso     49       1       1
51     2015       Mujeres       Divorcio contencioso     64       1       1
52     2014       Mujeres       Divorcio contencioso     53       1       1
53     2013       Mujeres       Divorcio contencioso     34       1       1

In [27]:
df_sep = pd.read_csv(path_in + 'separations.csv')
df_sep

,Tipo de separación,Tipo de matrimonio,Periodo,Total
0,Separación de mutuo acuerdo,Entre personas del mismo sexo,2021,63
1,Separación de mutuo acuerdo,Entre personas del mismo sexo,2020,2
2,Separación de mutuo acuerdo,Entre personas del mismo sexo,2019,19
3,Separación de mutuo acuerdo,Entre personas del mismo sexo,2018,8
4,Separación de mutuo acuerdo,Entre personas del mismo sexo,2017,15
5,Separación de mutuo acuerdo,Entre personas del mismo sexo,2016,34
6,Separación de mutuo acuerdo,Entre personas del mismo sexo,2015,8
7,Separación de mutuo acuerdo,Entre personas del mismo sexo,2014,8
8,Separación de mutuo acuerdo,Entre personas del mismo sexo,2013,4
9,Separación de mutuo acuerdo,Entre personas de distinto sexo,2021,3166
10,Separación de mutuo acuerdo,Entre personas de distinto sexo,2020,2467
11,Separación de mutuo acuerdo,Entre personas de distinto sexo,2019,3101
12,Separación de mutuo acuerdo,Entre personas de distinto sexo,2018,3480
13,Separación de mutuo acuerdo,Entre personas de distinto sexo,2017,3573
14,Separación de mutuo acuerdo,Entre personas de distinto sexo,2016,3672
15,Separación de mutuo acuerdo,Entre personas de distinto sexo,2015,4005
16,Separación de mutuo acuerdo,Entre personas de distinto sexo,2014,4299
17,Separación de mutuo acuerdo,Entre personas de distinto sexo,2013,4106
18,Separación contenciosa,Entre personas del mismo sexo,2021,4
19,Separación contenciosa,Entre personas del mismo sexo,2020,2
20,Separación contenciosa,Entre personas del mismo sexo,2019,0
21,Separación contenciosa,Entre personas del mismo sexo,2018,3
22,Separación contenciosa,Entre personas del mismo sexo,2017,10
23,Separación contenciosa,Entre personas del mismo sexo,2016,3
24,Separación contenciosa,Entre personas del mismo sexo,2015,2
25,Separación contenciosa,Entre personas del mismo sexo,2014,1
26,Separación contenciosa,Entre personas del mismo sexo,2013,0
27,Separación contenciosa,Entre personas de distinto sexo,2021,440
28,Separación contenciosa,Entre personas de distinto sexo,2020,304
29,Separación contenciosa,Entre personas de distinto sexo,2019,479
30,Separación contenciosa,Entre personas de distinto sexo,2018,607
31,Separación contenciosa,Entre personas de distinto sexo,2017,683
32,Separación contenciosa,Entre personas de distinto sexo,2016,645
33,Separación contenciosa,Entre personas de distinto sexo,2015,637
34,Separación contenciosa,Entre personas de distinto sexo,2014,726
35,Separación contenciosa,Entre personas de distinto sexo,2013,790

In [28]:
df_sep['id_gen'] = df_sep.apply(lambda x: set_gender(x['Tipo de matrimonio']), axis=1)
df_sep['id_sep'] = df_sep.apply(lambda x: set_tip_separation(x['Tipo de separación']), axis=1)
df_sep

,Tipo de separación,Tipo de matrimonio,Periodo,Total,id_gen,id_sep
0,Separación de mutuo acuerdo,Entre personas del mismo sexo,2021,63,3,2
1,Separación de mutuo acuerdo,Entre personas del mismo sexo,2020,2,3,2
2,Separación de mutuo acuerdo,Entre personas del mismo sexo,2019,19,3,2
3,Separación de mutuo acuerdo,Entre personas del mismo sexo,2018,8,3,2
4,Separación de mutuo acuerdo,Entre personas del mismo sexo,2017,15,3,2
5,Separación de mutuo acuerdo,Entre personas del mismo sexo,2016,34,3,2
6,Separación de mutuo acuerdo,Entre personas del mismo sexo,2015,8,3,2
7,Separación de mutuo acuerdo,Entre personas del mismo sexo,2014,8,3,2
8,Separación de mutuo acuerdo,Entre personas del mismo sexo,2013,4,3,2
9,Separación de mutuo acuerdo,Entre personas de distinto sexo,2021,3166,0,2
10,Separación de mutuo acuerdo,Entre personas de distinto sexo,2020,2467,0,2
11,Separación de mutuo acuerdo,Entre personas de distinto sexo,2019,3101,0,2
12,Separación de mutuo acuerdo,Entre personas de distinto sexo,2018,3480,0,2
13,Separación de mutuo acuerdo,Entre personas de distinto sexo,2017,3573,0,2
14,Separación de mutuo acuerdo,Entre personas de distinto sexo,2016,3672,0,2
15,Separación de mutuo acuerdo,Entre personas de distinto sexo,2015,4005,0,2
16,Separación de mutuo acuerdo,Entre personas de distinto sexo,2014,4299,0,2
17,Separación de mutuo acuerdo,Entre personas de distinto sexo,2013,4106,0,2
18,Separación contenciosa,Entre personas del mismo sexo,2021,4,3,3
19,Separación contenciosa,Entre personas del mismo sexo,2020,2,3,3
20,Separación contenciosa,Entre personas del mismo sexo,2019,0,3,3
21,Separación contenciosa,Entre personas del mismo sexo,2018,3,3,3
22,Separación contenciosa,Entre personas del mismo sexo,2017,10,3,3
23,Separación contenciosa,Entre personas del mismo sexo,2016,3,3,3
24,Separación contenciosa,Entre personas del mismo sexo,2015,2,3,3
25,Separación contenciosa,Entre personas del mismo sexo,2014,1,3,3
26,Separación contenciosa,Entre personas del mismo sexo,2013,0,3,3
27,Separación contenciosa,Entre personas de distinto sexo,2021,440,0,3
28,Separación contenciosa,Entre personas de distinto sexo,2020,304,0,3
29,Separación contenciosa,Entre personas de distinto sexo,2019,479,0,3
30,Separación contenciosa,Entre personas de distinto sexo,2018,607,0,3
31,Separación contenciosa,Entre personas de distinto sexo,2017,683,0,3
32,Separación contenciosa,Entre personas de distinto sexo,2016,645,0,3
33,Separación contenciosa,Entre personas de distinto sexo,2015,637,0,3
34,Separación contenciosa,Entre personas de distinto sexo,2014,726,0,3
35,Separación contenciosa,Entre personas de distinto sexo,2013,790,0,3

In [29]:
df_nul = pd.read_csv(path_in + 'nulties.csv')
df_nul

                 Tipo de matrimonio  Periodo  Total
0     Entre personas del mismo sexo     2021      0
1     Entre personas del mismo sexo     2020      1
2     Entre personas del mismo sexo     2019      4
3     Entre personas del mismo sexo     2018      2
4     Entre personas del mismo sexo     2017      0
5     Entre personas del mismo sexo     2016      2
6     Entre personas del mismo sexo     2015      6
7     Entre personas del mismo sexo     2014      0
8     Entre personas del mismo sexo     2013      3
9   Entre personas de distinto sexo     2021     57
10  Entre personas de distinto sexo     2020     39
11  Entre personas de distinto sexo     2019     71
12  Entre personas de distinto sexo     2018     90
13  Entre personas de distinto sexo     2017    100
14  Entre personas de distinto sexo     2016    115
15  Entre personas de distinto sexo     2015    138
16  Entre personas de distinto sexo     2014    113
17  Entre personas de distinto sexo     2013    107

In [30]:
df_nul['id_gen'] = df_nul.apply(lambda x: set_gender(x['Tipo de matrimonio']), axis=1)
df_nul

                 Tipo de matrimonio  Periodo  Total  id_gen
0     Entre personas del mismo sexo     2021      0       3
1     Entre personas del mismo sexo     2020      1       3
2     Entre personas del mismo sexo     2019      4       3
3     Entre personas del mismo sexo     2018      2       3
4     Entre personas del mismo sexo     2017      0       3
5     Entre personas del mismo sexo     2016      2       3
6     Entre personas del mismo sexo     2015      6       3
7     Entre personas del mismo sexo     2014      0       3
8     Entre personas del mismo sexo     2013      3       3
9   Entre personas de distinto sexo     2021     57       0
10  Entre personas de distinto sexo     2020     39       0
11  Entre personas de distinto sexo     2019     71       0
12  Entre personas de distinto sexo     2018     90       0
13  Entre personas de distinto sexo     2017    100       0
14  Entre personas de distinto sexo     2016    115       0
15  Entre personas de distinto sexo     2015    138       0
16  Entre personas de distinto sexo     2014    113       0
17  Entre personas de distinto sexo     2013    107       0

In [31]:
df_div.to_csv(path_out + 'divorces.csv', index=False) # dataset divorces normalized
df_sep.to_csv(path_out + 'separations.csv', index=False) # dataset separations normalized
df_nul.to_csv(path_out + 'nulties.csv', index=False) # dataset nulties normalized